body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  font-weight: 500;
  line-height: 18px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.button_pink {
  color: #ffffff;

  background-color: #fb565a;
} 

.button_pink:hover {
  background-color: #e74246;
}

.button_pink:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.button_green {
  color: #ffffff;

  background-color: #00ca74;
}

.button_green:hover {
  background-color: #00bc6c;
}

.button_green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  box-shadow: inset 0 3px #009958;
}

.button_yellow {
  color: #ffffff;

  background-color: #efc84a;
}

.button_yellow:hover {
  background-color: #eab534;
}

.button_yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  box-shadow: inset 0 3px #ce961f;
}

.button_grey {
  color: #000000;

  background-color: #eeeeee;
}

.button_grey:hover {
  background-color: #dfdfdf;
}

.button_grey:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}

/* HEADER */
.main-header {
  min-height: 130px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.site-logo img:hover {
  opacity: 0.8;
}

.site-logo img:active {
  opacity: 0.3;
}

.site-navigation {
  min-width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  font-weight: 500;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

.navigation_selected {
  border-bottom: 2px solid #fb565a;
}

/* MAIN */
.page-title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 100px;


  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
}

.slider {
  background-color: #eeeeee;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-title {
  margin: 0;
  padding: 0;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.slider-description {
  color: #283136;
}

.directions-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 80px;

  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.directions-item {
  width: 300px;
  margin-right: 100px;
}

.directions-item:last-child {
  margin-right: 0;
}

.directions-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 70px;

  border-bottom: 2px solid #eeeeee;
}

.about {
  max-width: 660px;
}

.about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.about h3 {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
}

.about-order-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.criteria {
  max-width: 360px;
}

.criteria-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.criteria-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.criteria-item {
  margin-right: 20px;
}

.criteria-item-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
}

.criteria-item-slogan {
  font-size: 16px;
  line-height: 18px;
}

.partners {
  padding-top: 40px;
  padding-bottom: 40px;

  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  line-height: 0;
  list-style: none;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend,
.sorting p {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.filter-price label {
  text-transform: uppercase;
}

.filter-input {
  opacity: 0.4;
}

.filter-input:hover {
  opacity: 1;
}

.filter-input:disabled,
.filter-input:disabled + label {
  opacity: 0.1;
}

.catalog {
  width: 760px;
}

.sorting {
  margin-bottom: 60px;
}

.sorting-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-list label {
  font-size: 14px;
  line-height: 18px;
  color: #000000;

  text-transform: uppercase;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sorting-input:hover + label {
  opacity: 0.6;
}

.sorting-input:active + label,
.sorting-input:checked + label {
  opacity: 1;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.templates-item {
  position: relative;

  margin-bottom: 30px;
}

.templates-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.templates-item:hover .cover-border {
  opacity: 1;
}

.templates-item:hover .cover-img {
  outline: none;
}

.templates-item:hover .template-info {
  display: block;
}

.cover-border {
  display: block;

  opacity: 0.1;
}

.cover-img {
  display: block;

  outline: 1px solid #ededed;
  outline-offset: -1px;
}

.template-info {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;

  background-color: #eeeeee;
}

.template-info .title {
  font-size: 18px;
  font-weight: 900;
  color: #000000;

  text-transform: uppercase;
}

.template-info .title:hover {
  color: #fb565a;
}

.template-info .title:active {
  color: #000000;
  opacity: 0.3;
}

.template-info .description {
  color: #666666;
}

.pagination-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;

  list-style: none;
}

.pagination-current {
  color: #000000;

  cursor: auto;
  border: 3px solid #dbdbdb;
}

/* FOOTER */
.main-footer {
  margin-top: 80px;
  margin-bottom: 70px;
}

.footer-location {
  height: 415px;
  margin-bottom: 70px;

  background-image: url("../img/location-on-map.png");
  background-position: center -160px;
  background-repeat: no-repeat;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.address {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

  vertical-align: middle;
  background-color: #ffffff;
}

.address h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.address p {
  line-height: 18px;
  color: #666666;
}

.footer-social {
  display: flex;
}

.social-list {
  display: flex;
  justify-content: space-around;
  min-width: 260px;
  margin: 0;
  padding: 0;
  margin-right: 140px;

  list-style: none;
}

.social-item a {
  display: flex;
  box-sizing: border-box;
  width: 80px;
  height: 80px;

  color: #ffffff;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item a:hover {
  background-color: #e74246;
}

.social-item a:active {
  background-color: #d7373b;
  border: 3px solid #c13135;
}

.social-item img {
  margin: auto;
}

.social-item a:active img {
  opacity: 0.3;
}

.footer-social-title .slogan {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  line-height: 36px;
}

.footer-social-title .discount {
  line-height: 22px;
  color: #444444;
}

/* MODAL */
.write-us h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.write-us label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.write-us input,
.write-us textarea {
  border: 2px solid #d7dcde;
}

.write-us input:hover,
.write-us textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-us input:focus,
.write-us textarea:focus {
  border: 2px solid #000000;
}

.write-us input:invalid,
.write-us textarea:invalid {
  border: 2px solid #e74246;
}